<div class="span12">
	<div class="span2">
		<h1 class="what_you_want_to_do">O que você deseja fazer?</h1>
	</div>
	<div class="well span4">
		<%= link_to "Cadastrar um Componente", new_part_path, :class => "btn btn-large btn-block btn-primary" %>
		<%= link_to "Cadastrar um Fabricante", new_vendor_path, :class => "btn btn-large btn-block btn-info" %>
		<br/>
		<%= link_to "Ver a lista de Representantes", agents_path, :class => "btn btn-large btn-block btn-danger" %>
	</div>
</div>